<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root[ 
<!ELEMENT Artikel ANY>
<!ATTLIST Artikel id ID #REQUIRED>
<!ELEMENT Contactpagina ANY>
<!ATTLIST Contactpagina id ID #REQUIRED>
<!ELEMENT Homepage ANY>
<!ATTLIST Homepage id ID #REQUIRED>
<!ELEMENT Land ANY>
<!ATTLIST Land id ID #REQUIRED>
<!ELEMENT Landenkostenmap ANY>
<!ATTLIST Landenkostenmap id ID #REQUIRED>
<!ELEMENT Landenpagina ANY>
<!ATTLIST Landenpagina id ID #REQUIRED>
<!ELEMENT Landkosten ANY>
<!ATTLIST Landkosten id ID #REQUIRED>
<!ELEMENT pagina ANY>
<!ATTLIST pagina id ID #REQUIRED>
<!ELEMENT Rubriek ANY>
<!ATTLIST Rubriek id ID #REQUIRED>
<!ELEMENT Rubrieken ANY>
<!ATTLIST Rubrieken id ID #REQUIRED>
<!ELEMENT Sectie ANY>
<!ATTLIST Sectie id ID #REQUIRED>
<!ELEMENT Settings ANY>
<!ATTLIST Settings id ID #REQUIRED>
<!ELEMENT UrlProvider ANY>
<!ATTLIST UrlProvider id ID #REQUIRED>

]>
<root id="-1">
  <Homepage id="1054" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2013-10-08T22:06:32" updateDate="2013-10-12T19:32:17" nodeName="Patentvista NL" urlName="patentvista-nl" path="-1,1054" isDoc="" nodeType="1048" creatorName="Ruben" writerName="Ruben" writerID="0" template="1061" nodeTypeAlias="Homepage">
    <browserTitel>Dit is een titel!</browserTitel>
    <paginatitel>Whoopdidoo</paginatitel>
    <metaKeywords>blabla keywords</metaKeywords>
    <metaDescription>blabla description</metaDescription>
    <introductieLinks><![CDATA[<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</span></p>
<h2><span>Test heading 2</span></h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>]]></introductieLinks>
    <gekleurdeVlag>1094</gekleurdeVlag>
    <grijzeVlag>1095</grijzeVlag>
    <introductieRechts><![CDATA[<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>]]></introductieRechts>
    <positieVlaggetje><![CDATA[1]]></positieVlaggetje>
    <Sectie id="1062" parentID="1054" level="2" creatorID="0" sortOrder="0" createDate="2013-10-08T23:52:06" updateDate="2013-10-09T00:17:23" nodeName="artikelen" urlName="artikelen" path="-1,1054,1062" isDoc="" nodeType="1053" creatorName="Ruben" writerName="Ruben" writerID="0" template="0" nodeTypeAlias="Sectie">
      <browserTitel>Patentvista artikelen over patenten/octrooien</browserTitel>
      <paginatitel>Artikelen</paginatitel>
      <metaKeywords>patent, octrooi, aanvragen, kosten, onderzoek</metaKeywords>
      <metaDescription>Artikelen over aanvragen, kosten, onderzoek en registreren van patenten en octrooien</metaDescription>
      <Artikel id="1064" parentID="1062" level="3" creatorID="0" sortOrder="0" createDate="2013-10-09T00:10:14" updateDate="2013-10-10T22:32:17" nodeName="Nationale aanvraag" urlName="nationale-aanvraag" path="-1,1054,1062,1064" isDoc="" nodeType="1051" creatorName="Ruben" writerName="Ruben" writerID="0" template="1056" nodeTypeAlias="Artikel">
        <browserTitel>Nationale aanvraag</browserTitel>
        <paginatitel>Nationale aanvraag</paginatitel>
        <metaKeywords>Nationale aanvraag</metaKeywords>
        <metaDescription>Nationale aanvraag</metaDescription>
        <tekstLinks><![CDATA[<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>]]></tekstLinks>
        <tekstRechts><![CDATA[<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>]]></tekstRechts>
        <rubriek>1067</rubriek>
      </Artikel>
      <Artikel id="1071" parentID="1062" level="3" creatorID="0" sortOrder="1" createDate="2013-10-09T00:56:49" updateDate="2013-10-12T18:20:13" nodeName="Europese aanvraag" urlName="europese-aanvraag" path="-1,1054,1062,1071" isDoc="" nodeType="1051" creatorName="Ruben" writerName="Ruben" writerID="0" template="1056" nodeTypeAlias="Artikel">
        <browserTitel>Europese aanvraag</browserTitel>
        <paginatitel>Europese aanvraag</paginatitel>
        <metaKeywords>Europese aanvraag</metaKeywords>
        <metaDescription>Artikel over Europese aanvraag</metaDescription>
        <tekstLinks><![CDATA[<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>]]></tekstLinks>
        <tekstRechts><![CDATA[<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>]]></tekstRechts>
        <rubriek>1068</rubriek>
      </Artikel>
      <Artikel id="1085" parentID="1062" level="3" creatorID="0" sortOrder="2" createDate="2013-10-09T22:36:28" updateDate="2013-10-12T18:20:33" nodeName="Gemeenschapsoctrooi" urlName="gemeenschapsoctrooi" path="-1,1054,1062,1085" isDoc="" nodeType="1051" creatorName="Ruben" writerName="Ruben" writerID="0" template="1056" nodeTypeAlias="Artikel">
        <browserTitel>Gemeenschapsoctrooi</browserTitel>
        <paginatitel>Gemeenschapsoctrooi</paginatitel>
        <metaKeywords>Gemeenschapsoctrooi</metaKeywords>
        <metaDescription>Gemeenschapsoctrooi</metaDescription>
        <tekstLinks><![CDATA[<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>]]></tekstLinks>
        <tekstRechts><![CDATA[<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>]]></tekstRechts>
        <rubriek>1069</rubriek>
      </Artikel>
      <Artikel id="1117" parentID="1062" level="3" creatorID="0" sortOrder="3" createDate="2013-10-12T18:30:18" updateDate="2013-10-12T18:30:41" nodeName="Testartikel" urlName="testartikel" path="-1,1054,1062,1117" isDoc="" nodeType="1051" creatorName="Ruben" writerName="Ruben" writerID="0" template="1056" nodeTypeAlias="Artikel">
        <browserTitel>Dit is een testartikel</browserTitel>
        <paginatitel>Dit is een testartikel</paginatitel>
        <metaKeywords>Dit is een testartikel</metaKeywords>
        <metaDescription>Dit is een testartikel</metaDescription>
        <tekstLinks><![CDATA[<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>]]></tekstLinks>
        <tekstRechts><![CDATA[<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>]]></tekstRechts>
        <rubriek>1068</rubriek>
      </Artikel>
    </Sectie>
    <Rubrieken id="1065" parentID="1054" level="2" creatorID="0" sortOrder="1" createDate="2013-10-09T00:48:07" updateDate="2013-10-09T02:04:37" nodeName="rubrieken" urlName="rubrieken" path="-1,1054,1065" isDoc="" nodeType="1049" creatorName="Ruben" writerName="Ruben" writerID="0" template="0" nodeTypeAlias="Rubrieken">
      <Rubriek id="1067" parentID="1065" level="3" creatorID="0" sortOrder="0" createDate="2013-10-09T00:49:53" updateDate="2013-10-12T18:25:42" nodeName="Octrooikosten" urlName="octrooikosten" path="-1,1054,1065,1067" isDoc="" nodeType="1066" creatorName="Ruben" writerName="Ruben" writerID="0" template="0" nodeTypeAlias="Rubriek">
        <naam>Octrooikosten</naam>
      </Rubriek>
      <Rubriek id="1068" parentID="1065" level="3" creatorID="0" sortOrder="1" createDate="2013-10-09T00:50:33" updateDate="2013-10-12T18:25:49" nodeName="Aanvragen" urlName="aanvragen" path="-1,1054,1065,1068" isDoc="" nodeType="1066" creatorName="Ruben" writerName="Ruben" writerID="0" template="0" nodeTypeAlias="Rubriek">
        <naam>Aanvragen</naam>
      </Rubriek>
      <Rubriek id="1069" parentID="1065" level="3" creatorID="0" sortOrder="2" createDate="2013-10-09T00:50:49" updateDate="2013-10-12T18:25:55" nodeName="Intellectueel eigendom" urlName="intellectueel-eigendom" path="-1,1054,1065,1069" isDoc="" nodeType="1066" creatorName="Ruben" writerName="Ruben" writerID="0" template="0" nodeTypeAlias="Rubriek">
        <naam>Intellectueel eigendom</naam>
      </Rubriek>
      <Rubriek id="1073" parentID="1065" level="3" creatorID="0" sortOrder="3" createDate="2013-10-09T01:48:38" updateDate="2013-10-12T18:26:31" nodeName="Testrubriek" urlName="testrubriek" path="-1,1054,1065,1073" isDoc="" nodeType="1066" creatorName="Ruben" writerName="Ruben" writerID="0" template="0" nodeTypeAlias="Rubriek">
        <naam>Testrubriek</naam>
      </Rubriek>
    </Rubrieken>
    <pagina id="1081" parentID="1054" level="2" creatorID="0" sortOrder="2" createDate="2013-10-09T02:08:08" updateDate="2013-10-09T02:09:13" nodeName="Octrooikosten berekenen" urlName="octrooikosten-berekenen" path="-1,1054,1081" isDoc="" nodeType="1045" creatorName="Ruben" writerName="Ruben" writerID="0" template="0" nodeTypeAlias="pagina">
      <browserTitel>Bereken octrooikosten online</browserTitel>
      <paginatitel>Online octrooikosten berekenen</paginatitel>
      <metaKeywords>Online octrooikosten berekenen</metaKeywords>
      <metaDescription>Bereken octrooikosten online</metaDescription>
    </pagina>
    <Contactpagina id="1116" parentID="1054" level="2" creatorID="0" sortOrder="3" createDate="2013-10-12T13:01:09" updateDate="2013-10-12T13:03:43" nodeName="Contact" urlName="contact" path="-1,1054,1116" isDoc="" nodeType="1113" creatorName="Ruben" writerName="Ruben" writerID="0" template="1115" nodeTypeAlias="Contactpagina">
      <browserTitel>Neem contact op</browserTitel>
      <paginatitel>Contact</paginatitel>
      <metaKeywords>Contact</metaKeywords>
      <metaDescription>Contact</metaDescription>
      <text><![CDATA[<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. whut</span></p>]]></text>
    </Contactpagina>
    <Landenpagina id="1149" parentID="1054" level="2" creatorID="0" sortOrder="4" createDate="2013-10-13T14:10:47" updateDate="2013-10-13T16:53:23" nodeName="Landen" urlName="landen" path="-1,1054,1149" isDoc="" nodeType="1137" creatorName="Ruben" writerName="Ruben" writerID="0" template="1148" nodeTypeAlias="Landenpagina">
      <browserTitel>Patentkosten per land</browserTitel>
      <paginatitel>Patentkosten per land</paginatitel>
      <metaKeywords>Patentkosten, land</metaKeywords>
      <metaDescription>Patentkosten per land</metaDescription>
      <korteIntro><![CDATA[<p>DIt is een korte intro van de landenlijst</p>]]></korteIntro>
      <Land id="1156" parentID="1149" level="3" creatorID="0" sortOrder="0" createDate="2013-10-13T14:33:40" updateDate="2013-10-13T20:08:34" nodeName="Nederland" urlName="nederland" path="-1,1054,1149,1156" isDoc="" nodeType="1155" creatorName="Ruben" writerName="Ruben" writerID="0" template="1168" nodeTypeAlias="Land">
        <omschrijving><![CDATA[<p>Dit is Nederland!</p>]]></omschrijving>
        <kostenland><![CDATA[1142]]></kostenland>
      </Land>
      <Land id="1157" parentID="1149" level="3" creatorID="0" sortOrder="1" createDate="2013-10-13T14:40:01" updateDate="2013-10-13T20:08:56" nodeName="Papoea Nieuw Guinea" urlName="papoea-nieuw-guinea" path="-1,1054,1149,1157" isDoc="" nodeType="1155" creatorName="Ruben" writerName="Ruben" writerID="0" template="1168" nodeTypeAlias="Land">
        <omschrijving><![CDATA[<p>Papoea Nieuw Guinea nederlands</p>]]></omschrijving>
        <kostenland><![CDATA[1164]]></kostenland>
      </Land>
      <Land id="1158" parentID="1149" level="3" creatorID="0" sortOrder="2" createDate="2013-10-13T14:40:45" updateDate="2013-10-13T20:07:43" nodeName="Saoedi-Arabië" urlName="saoedi-arabië" path="-1,1054,1149,1158" isDoc="" nodeType="1155" creatorName="Ruben" writerName="Ruben" writerID="0" template="1168" nodeTypeAlias="Land">
        <omschrijving><![CDATA[<p>Saudi Arabia NL text</p>]]></omschrijving>
        <kostenland><![CDATA[1165]]></kostenland>
      </Land>
      <Land id="1166" parentID="1149" level="3" creatorID="0" sortOrder="3" createDate="2013-10-13T16:10:05" updateDate="2013-10-13T20:07:48" nodeName="Duitsland" urlName="duitsland" path="-1,1054,1149,1166" isDoc="" nodeType="1155" creatorName="Ruben" writerName="Ruben" writerID="0" template="1168" nodeTypeAlias="Land">
        <omschrijving><![CDATA[<p>Duitsland nl</p>]]></omschrijving>
        <kostenland><![CDATA[1143]]></kostenland>
      </Land>
      <Land id="1167" parentID="1149" level="3" creatorID="0" sortOrder="4" createDate="2013-10-13T16:10:14" updateDate="2013-10-15T01:54:22" nodeName="Frankrijk" urlName="frankrijk" path="-1,1054,1149,1167" isDoc="" nodeType="1155" creatorName="Ruben" writerName="Ruben" writerID="0" template="1168" nodeTypeAlias="Land">
        <omschrijving><![CDATA[<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</span></p>]]></omschrijving>
        <kostenland><![CDATA[1144]]></kostenland>
      </Land>
    </Landenpagina>
    <UrlProvider id="1176" parentID="1054" level="2" creatorID="0" sortOrder="6" createDate="2013-10-15T19:55:01" updateDate="2013-10-15T20:06:45" nodeName="Update Currencies" urlName="update-currencies" path="-1,1054,1176" isDoc="" nodeType="1170" creatorName="Ruben" writerName="Ruben" writerID="0" template="1175" nodeTypeAlias="UrlProvider" />
    <UrlProvider id="1171" parentID="1054" level="2" creatorID="0" sortOrder="7" createDate="2013-10-13T21:49:26" updateDate="2013-10-15T20:08:52" nodeName="Country Data Service" urlName="country-data-service" path="-1,1054,1171" isDoc="" nodeType="1170" creatorName="Ruben" writerName="Ruben" writerID="0" template="1169" nodeTypeAlias="UrlProvider" />
  </Homepage>
  <Homepage id="1063" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2013-10-09T00:06:40" updateDate="2013-10-12T19:32:28" nodeName="Patentvista EN" urlName="patentvista-en" path="-1,1063" isDoc="" nodeType="1048" creatorName="Ruben" writerName="Ruben" writerID="0" template="1061" nodeTypeAlias="Homepage">
    <browserTitel>Patentvista EN</browserTitel>
    <paginatitel>Patentvista En</paginatitel>
    <metaKeywords>Patent, buying, research, register</metaKeywords>
    <metaDescription>Welcome to Patentvista, a website about...</metaDescription>
    <introductieLinks><![CDATA[<p>;fk;fel k;lewkf ;lkewf; lk;ewflk ;elfk</p>]]></introductieLinks>
    <gekleurdeVlag>1092</gekleurdeVlag>
    <grijzeVlag>1093</grijzeVlag>
    <introductieRechts><![CDATA[<p>hallo</p>]]></introductieRechts>
    <positieVlaggetje><![CDATA[2]]></positieVlaggetje>
    <Sectie id="1075" parentID="1063" level="2" creatorID="0" sortOrder="0" createDate="2013-10-09T01:53:54" updateDate="2013-10-09T01:55:31" nodeName="articles" urlName="articles" path="-1,1063,1075" isDoc="" nodeType="1053" creatorName="Ruben" writerName="Ruben" writerID="0" template="0" nodeTypeAlias="Sectie">
      <browserTitel>
      </browserTitel>
      <paginatitel>
      </paginatitel>
      <metaKeywords>
      </metaKeywords>
      <metaDescription>
      </metaDescription>
      <Artikel id="1076" parentID="1075" level="3" creatorID="0" sortOrder="0" createDate="2013-10-09T01:54:28" updateDate="2013-10-12T18:36:07" nodeName="Some english article" urlName="some-english-article" path="-1,1063,1075,1076" isDoc="" nodeType="1051" creatorName="Ruben" writerName="Ruben" writerID="0" template="1056" nodeTypeAlias="Artikel">
        <browserTitel>This is some English article</browserTitel>
        <paginatitel>This is some English article</paginatitel>
        <metaKeywords>This is some English article</metaKeywords>
        <metaDescription>This is some English article</metaDescription>
        <tekstLinks><![CDATA[<p>This is some English articleThis is some English articleThis is some English articleThis is some English articleThis is some English articleThis is some English articleThis is some English articleThis is some English articleThis is some English articleThis is some English articleThis is some English articleThis is some English articleThis is some English articleThis is some English articleThis is some English articleThis is some English articleThis is some English articleThis is some English articleThis is some English articleThis is some English articleThis is some English article</p>]]></tekstLinks>
        <tekstRechts><![CDATA[]]></tekstRechts>
        <rubriek>1079</rubriek>
      </Artikel>
    </Sectie>
    <Rubrieken id="1077" parentID="1063" level="2" creatorID="0" sortOrder="1" createDate="2013-10-09T01:55:05" updateDate="2013-10-09T02:04:42" nodeName="rubrieken" urlName="rubrieken" path="-1,1063,1077" isDoc="" nodeType="1049" creatorName="Ruben" writerName="Ruben" writerID="0" template="0" nodeTypeAlias="Rubrieken">
      <Rubriek id="1078" parentID="1077" level="3" creatorID="0" sortOrder="0" createDate="2013-10-09T01:55:16" updateDate="2013-10-12T18:36:27" nodeName="Some English Category 1" urlName="some-english-category-1" path="-1,1063,1077,1078" isDoc="" nodeType="1066" creatorName="Ruben" writerName="Ruben" writerID="0" template="0" nodeTypeAlias="Rubriek">
        <naam>Some English Category 1</naam>
      </Rubriek>
      <Rubriek id="1079" parentID="1077" level="3" creatorID="0" sortOrder="1" createDate="2013-10-09T01:55:24" updateDate="2013-10-12T18:36:37" nodeName="Some English category 2" urlName="some-english-category-2" path="-1,1063,1077,1079" isDoc="" nodeType="1066" creatorName="Ruben" writerName="Ruben" writerID="0" template="0" nodeTypeAlias="Rubriek">
        <naam>Some English category 2</naam>
      </Rubriek>
    </Rubrieken>
    <Contactpagina id="1126" parentID="1063" level="2" creatorID="0" sortOrder="2" createDate="2013-10-13T00:23:38" updateDate="2013-10-13T00:24:12" nodeName="Contact" urlName="contact" path="-1,1063,1126" isDoc="" nodeType="1113" creatorName="Ruben" writerName="Ruben" writerID="0" template="1115" nodeTypeAlias="Contactpagina">
      <browserTitel>Contact English</browserTitel>
      <paginatitel>Contact  English</paginatitel>
      <metaKeywords>contact</metaKeywords>
      <metaDescription>Contact</metaDescription>
      <text><![CDATA[<p><span>English: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</span></p>]]></text>
    </Contactpagina>
    <Landenpagina id="1150" parentID="1063" level="2" creatorID="0" sortOrder="3" createDate="2013-10-13T14:12:53" updateDate="2013-10-13T14:13:12" nodeName="Countries" urlName="countries" path="-1,1063,1150" isDoc="" nodeType="1137" creatorName="Ruben" writerName="Ruben" writerID="0" template="1148" nodeTypeAlias="Landenpagina">
      <browserTitel>Patent costs per country</browserTitel>
      <paginatitel>Patent costs per country</paginatitel>
      <metaKeywords>Patent costs per country</metaKeywords>
      <metaDescription>Patent costs per country</metaDescription>
      <Land id="1159" parentID="1150" level="3" creatorID="0" sortOrder="0" createDate="2013-10-13T14:41:31" updateDate="2013-10-13T16:12:35" nodeName="The Netherlands" urlName="the-netherlands" path="-1,1063,1150,1159" isDoc="" nodeType="1155" creatorName="Ruben" writerName="Ruben" writerID="0" template="1168" nodeTypeAlias="Land">
        <omschrijving><![CDATA[<p>The Netherlands is a very flat country</p>]]></omschrijving>
        <kostenland><![CDATA[1142]]></kostenland>
      </Land>
      <Land id="1160" parentID="1150" level="3" creatorID="0" sortOrder="1" createDate="2013-10-13T14:42:04" updateDate="2013-10-13T16:13:22" nodeName="Papua New Guinea" urlName="papua-new-guinea" path="-1,1063,1150,1160" isDoc="" nodeType="1155" creatorName="Ruben" writerName="Ruben" writerID="0" template="1168" nodeTypeAlias="Land">
        <omschrijving><![CDATA[<p>Papua New Guinea is some country</p>]]></omschrijving>
        <kostenland><![CDATA[1164]]></kostenland>
      </Land>
      <Land id="1161" parentID="1150" level="3" creatorID="0" sortOrder="2" createDate="2013-10-13T14:43:05" updateDate="2013-10-13T16:14:10" nodeName="Saudi Arabia" urlName="saudi-arabia" path="-1,1063,1150,1161" isDoc="" nodeType="1155" creatorName="Ruben" writerName="Ruben" writerID="0" template="1168" nodeTypeAlias="Land">
        <omschrijving><![CDATA[<p>Saudi Arabia is a country in the middle east</p>]]></omschrijving>
        <kostenland><![CDATA[1165]]></kostenland>
      </Land>
    </Landenpagina>
  </Homepage>
  <Homepage id="1086" parentID="-1" level="1" creatorID="0" sortOrder="2" createDate="2013-10-10T00:02:37" updateDate="2013-10-12T19:32:33" nodeName="Patentvista ES" urlName="patentvista-es" path="-1,1086" isDoc="" nodeType="1048" creatorName="Ruben" writerName="Ruben" writerID="0" template="1061" nodeTypeAlias="Homepage">
    <browserTitel>Patentvista ES</browserTitel>
    <paginatitel>Patentvista ES</paginatitel>
    <metaKeywords>Patentvista ES</metaKeywords>
    <metaDescription>Patentvista ES</metaDescription>
    <introductieLinks><![CDATA[<p>Patentvista ESPatentvista ESPatentvista ESPatentvista ESPatentvista ESPatentvista ESPatentvista ESPatentvista ESPatentvista ESPatentvista ESPatentvista ESPatentvista ESPatentvista ESPatentvista ESPatentvista ESPatentvista ESPatentvista ESPatentvista ESPatentvista ESPatentvista ESv</p>]]></introductieLinks>
    <gekleurdeVlag>1088</gekleurdeVlag>
    <grijzeVlag>1089</grijzeVlag>
    <introductieRechts><![CDATA[<p><span>Patentvista ESPatentvista ESPatentvista ESPatentvista ESPatentvista ESPatentvista ESPatentvista ESPatentvista ESPatentvista ESPatentvista ESPatentvista ESPatentvista ESPatentvista ESPatentvista ESPatentvista ESPatentvista ESPatentvista ESPatentvista ESPatentvista ESPatentvista ESv</span></p>]]></introductieRechts>
    <positieVlaggetje><![CDATA[4]]></positieVlaggetje>
    <Sectie id="1097" parentID="1086" level="2" creatorID="0" sortOrder="0" createDate="2013-10-10T19:42:45" updateDate="2013-10-10T19:44:54" nodeName="articulos" urlName="articulos" path="-1,1086,1097" isDoc="" nodeType="1053" creatorName="Ruben" writerName="Ruben" writerID="0" template="1059" nodeTypeAlias="Sectie">
      <browserTitel>
      </browserTitel>
      <paginatitel>
      </paginatitel>
      <metaKeywords>
      </metaKeywords>
      <metaDescription>
      </metaDescription>
      <Artikel id="1098" parentID="1097" level="3" creatorID="0" sortOrder="0" createDate="2013-10-10T19:43:06" updateDate="2013-10-12T18:35:27" nodeName="Articulo en espanol" urlName="articulo-en-espanol" path="-1,1086,1097,1098" isDoc="" nodeType="1051" creatorName="Ruben" writerName="Ruben" writerID="0" template="1056" nodeTypeAlias="Artikel">
        <browserTitel>Artikel in het Spaans</browserTitel>
        <paginatitel>Artikel in het Spaans</paginatitel>
        <metaKeywords>Artikel in het Spaans</metaKeywords>
        <metaDescription>Artikel in het Spaans</metaDescription>
        <tekstLinks><![CDATA[<p>Artikel in het SpaansArtikel in het SpaansArtikel in het SpaansArtikel in het SpaansArtikel in het SpaansArtikel in het SpaansArtikel in het SpaansArtikel in het SpaansArtikel in het SpaansArtikel in het SpaansArtikel in het SpaansArtikel in het SpaansArtikel in het Spaansv</p>]]></tekstLinks>
        <tekstRechts><![CDATA[]]></tekstRechts>
        <rubriek>1121</rubriek>
      </Artikel>
    </Sectie>
    <Rubrieken id="1118" parentID="1086" level="2" creatorID="0" sortOrder="1" createDate="2013-10-12T18:32:39" updateDate="2013-10-12T18:32:45" nodeName="rubrieken" urlName="rubrieken" path="-1,1086,1118" isDoc="" nodeType="1049" creatorName="Ruben" writerName="Ruben" writerID="0" template="0" nodeTypeAlias="Rubrieken">
      <Rubriek id="1119" parentID="1118" level="3" creatorID="0" sortOrder="0" createDate="2013-10-12T18:33:07" updateDate="2013-10-12T18:33:54" nodeName="Rúbrica 1" urlName="rúbrica-1" path="-1,1086,1118,1119" isDoc="" nodeType="1066" creatorName="Ruben" writerName="Ruben" writerID="0" template="0" nodeTypeAlias="Rubriek">
        <naam>Rúbrica 1</naam>
      </Rubriek>
      <Rubriek id="1120" parentID="1118" level="3" creatorID="0" sortOrder="1" createDate="2013-10-12T18:33:13" updateDate="2013-10-12T18:33:37" nodeName="Rúbrica 2" urlName="rúbrica-2" path="-1,1086,1118,1120" isDoc="" nodeType="1066" creatorName="Ruben" writerName="Ruben" writerID="0" template="0" nodeTypeAlias="Rubriek">
        <naam>Rúbrica 2</naam>
      </Rubriek>
      <Rubriek id="1121" parentID="1118" level="3" creatorID="0" sortOrder="2" createDate="2013-10-12T18:33:19" updateDate="2013-10-12T18:33:47" nodeName="Rúbrica 3" urlName="rúbrica-3" path="-1,1086,1118,1121" isDoc="" nodeType="1066" creatorName="Ruben" writerName="Ruben" writerID="0" template="0" nodeTypeAlias="Rubriek">
        <naam>Rúbrica 3</naam>
      </Rubriek>
    </Rubrieken>
    <Contactpagina id="1127" parentID="1086" level="2" creatorID="0" sortOrder="2" createDate="2013-10-13T00:46:19" updateDate="2013-10-13T00:46:36" nodeName="Contact" urlName="contact" path="-1,1086,1127" isDoc="" nodeType="1113" creatorName="Ruben" writerName="Ruben" writerID="0" template="1115" nodeTypeAlias="Contactpagina">
      <browserTitel>Contact ES</browserTitel>
      <paginatitel>Contact ES</paginatitel>
      <metaKeywords>Contact ES</metaKeywords>
      <metaDescription>Contact ES</metaDescription>
      <text><![CDATA[<p>Contact ESContact ESContact ESContact ESContact ESContact ESContact ESContact ESContact ESContact ESContact ESContact ESContact ESContact ESContact ESContact ESContact ESContact ESContact ESContact ESContact ESContact ESContact ESv</p>]]></text>
    </Contactpagina>
  </Homepage>
  <Homepage id="1096" parentID="-1" level="1" creatorID="0" sortOrder="3" createDate="2013-10-10T02:16:57" updateDate="2013-10-12T19:32:38" nodeName="PatentVista FR" urlName="patentvista-fr" path="-1,1096" isDoc="" nodeType="1048" creatorName="Ruben" writerName="Ruben" writerID="0" template="1061" nodeTypeAlias="Homepage">
    <browserTitel>PatentVista FR</browserTitel>
    <paginatitel>PatentVista FR</paginatitel>
    <metaKeywords>PatentVista FR</metaKeywords>
    <metaDescription>PatentVista FR</metaDescription>
    <introductieLinks><![CDATA[<p>PatentVista FRPatentVista FRPatentVista FRPatentVista FRPatentVista FRPatentVista FRPatentVista FRPatentVista FRPatentVista FRPatentVista FRPatentVista FRPatentVista FRPatentVista FRPatentVista FRPatentVista FRPatentVista FRPatentVista FRPatentVista FRPatentVista FRPatentVista FRPatentVista FRPatentVista FRPatentVista FRPatentVista FRPatentVista FRPatentVista FRPatentVista FR</p>]]></introductieLinks>
    <gekleurdeVlag>1090</gekleurdeVlag>
    <grijzeVlag>1091</grijzeVlag>
    <introductieRechts><![CDATA[<p><span>PatentVista FRPatentVista FRPatentVista FRPatentVista FRPatentVista FRPatentVista FRPatentVista FRPatentVista FRPatentVista FRPatentVista FRPatentVista FRPatentVista FRPatentVista FRPatentVista FRPatentVista FRPatentVista FRPatentVista FRPatentVista FRPatentVista FRPatentVista FRPatentVista FRPatentVista FRPatentVista FRPatentVista FRPatentVista FRPatentVista FRPatentVista FR</span></p>]]></introductieRechts>
    <positieVlaggetje><![CDATA[3]]></positieVlaggetje>
    <Sectie id="1099" parentID="1096" level="2" creatorID="0" sortOrder="0" createDate="2013-10-10T19:43:26" updateDate="2013-10-10T19:44:21" nodeName="articles" urlName="articles" path="-1,1096,1099" isDoc="" nodeType="1053" creatorName="Ruben" writerName="Ruben" writerID="0" template="1059" nodeTypeAlias="Sectie">
      <browserTitel>
      </browserTitel>
      <paginatitel>
      </paginatitel>
      <metaKeywords>
      </metaKeywords>
      <metaDescription>
      </metaDescription>
      <Artikel id="1100" parentID="1099" level="3" creatorID="0" sortOrder="0" createDate="2013-10-10T19:43:35" updateDate="2013-10-12T18:35:34" nodeName="Article en francais" urlName="article-en-francais" path="-1,1096,1099,1100" isDoc="" nodeType="1051" creatorName="Ruben" writerName="Ruben" writerID="0" template="1056" nodeTypeAlias="Artikel">
        <browserTitel>Artikel in het Frans</browserTitel>
        <paginatitel>Artikel in het Frans</paginatitel>
        <metaKeywords>Artikel in het Frans</metaKeywords>
        <metaDescription>Artikel in het Frans</metaDescription>
        <tekstLinks><![CDATA[<p>Artikel in het FransArtikel in het FransArtikel in het FransArtikel in het FransArtikel in het FransArtikel in het FransArtikel in het FransArtikel in het FransArtikel in het FransArtikel in het FransArtikel in het FransArtikel in het FransArtikel in het FransArtikel in het FransArtikel in het FransArtikel in het FransArtikel in het FransArtikel in het Frans</p>]]></tekstLinks>
        <tekstRechts><![CDATA[]]></tekstRechts>
        <rubriek>1124</rubriek>
      </Artikel>
    </Sectie>
    <Rubrieken id="1122" parentID="1096" level="2" creatorID="0" sortOrder="1" createDate="2013-10-12T18:34:16" updateDate="2013-10-12T18:34:40" nodeName="rubrieken" urlName="rubrieken" path="-1,1096,1122" isDoc="" nodeType="1049" creatorName="Ruben" writerName="Ruben" writerID="0" template="0" nodeTypeAlias="Rubrieken">
      <Rubriek id="1123" parentID="1122" level="3" creatorID="0" sortOrder="0" createDate="2013-10-12T18:34:51" updateDate="2013-10-12T18:34:55" nodeName="Rubrique 1" urlName="rubrique-1" path="-1,1096,1122,1123" isDoc="" nodeType="1066" creatorName="Ruben" writerName="Ruben" writerID="0" template="0" nodeTypeAlias="Rubriek">
        <naam>Rubrique 1</naam>
      </Rubriek>
      <Rubriek id="1124" parentID="1122" level="3" creatorID="0" sortOrder="1" createDate="2013-10-12T18:35:01" updateDate="2013-10-12T18:35:06" nodeName="Rubrique 2" urlName="rubrique-2" path="-1,1096,1122,1124" isDoc="" nodeType="1066" creatorName="Ruben" writerName="Ruben" writerID="0" template="0" nodeTypeAlias="Rubriek">
        <naam>Rubrique 2</naam>
      </Rubriek>
    </Rubrieken>
    <Contactpagina id="1128" parentID="1096" level="2" creatorID="0" sortOrder="2" createDate="2013-10-13T00:46:43" updateDate="2013-10-13T00:47:05" nodeName="Contact" urlName="contact" path="-1,1096,1128" isDoc="" nodeType="1113" creatorName="Ruben" writerName="Ruben" writerID="0" template="1115" nodeTypeAlias="Contactpagina">
      <browserTitel>Contact FR</browserTitel>
      <paginatitel>Contact FR</paginatitel>
      <metaKeywords>Contact FR</metaKeywords>
      <metaDescription>Contact FR</metaDescription>
      <text><![CDATA[<p>Contact FRContact FRContact FRContact FRContact FRContact FRContact FRContact FRContact FRContact FRContact FRContact FRContact FRContact FRContact FRContact FRContact FRContact FRContact FRContact FRContact FRContact FRContact FRContact FRContact FRContact FRContact FRContact FRContact FRv</p>]]></text>
    </Contactpagina>
  </Homepage>
  <Landenkostenmap id="1138" parentID="-1" level="1" creatorID="0" sortOrder="4" createDate="2013-10-13T12:43:06" updateDate="2013-10-13T14:14:00" nodeName="Landgegevens" urlName="landgegevens" path="-1,1138" isDoc="" nodeType="1135" creatorName="Ruben" writerName="Ruben" writerID="0" template="0" nodeTypeAlias="Landenkostenmap">
    <Landkosten id="1142" parentID="1138" level="2" creatorID="0" sortOrder="0" createDate="2013-10-13T12:46:56" updateDate="2013-10-13T16:06:37" nodeName="Nederland" urlName="nederland" path="-1,1138,1142" isDoc="" nodeType="1141" creatorName="Ruben" writerName="Ruben" writerID="0" template="0" nodeTypeAlias="Landkosten">
      <jaar1>200</jaar1>
      <jaar2>298</jaar2>
      <jaar3>893</jaar3>
      <jaar4>828</jaar4>
      <jaar5>728</jaar5>
      <jaar6>928</jaar6>
      <jaar7>129</jaar7>
      <jaar8>238</jaar8>
      <jaar9>222</jaar9>
      <jaar10>299</jaar10>
      <jaar11>200</jaar11>
      <jaar12>200</jaar12>
      <jaar13>250</jaar13>
      <jaar14>230</jaar14>
      <jaar15>240</jaar15>
      <jaar16>289</jaar16>
      <jaar17>837</jaar17>
      <jaar18>37</jaar18>
      <jaar19>378</jaar19>
      <jaar20>828</jaar20>
    </Landkosten>
    <Landkosten id="1143" parentID="1138" level="2" creatorID="0" sortOrder="1" createDate="2013-10-13T12:47:19" updateDate="2013-10-13T16:08:24" nodeName="Duitsland" urlName="duitsland" path="-1,1138,1143" isDoc="" nodeType="1141" creatorName="Ruben" writerName="Ruben" writerID="0" template="0" nodeTypeAlias="Landkosten">
      <jaar1>675</jaar1>
      <jaar2>555</jaar2>
      <jaar3>555</jaar3>
      <jaar4>555</jaar4>
      <jaar5>555</jaar5>
      <jaar6>555</jaar6>
      <jaar7>555</jaar7>
      <jaar8>555</jaar8>
      <jaar9>555</jaar9>
      <jaar10>555</jaar10>
      <jaar11>555</jaar11>
      <jaar12>555</jaar12>
      <jaar13>555</jaar13>
      <jaar14>555</jaar14>
      <jaar15>555</jaar15>
      <jaar16>555</jaar16>
      <jaar17>555</jaar17>
      <jaar18>555</jaar18>
      <jaar19>555</jaar19>
      <jaar20>555</jaar20>
    </Landkosten>
    <Landkosten id="1144" parentID="1138" level="2" creatorID="0" sortOrder="2" createDate="2013-10-13T12:47:36" updateDate="2013-10-15T01:32:48" nodeName="Frankrijk" urlName="frankrijk" path="-1,1138,1144" isDoc="" nodeType="1141" creatorName="Ruben" writerName="Ruben" writerID="0" template="0" nodeTypeAlias="Landkosten">
      <jaar1>768</jaar1>
      <jaar2>876</jaar2>
      <jaar3>928</jaar3>
      <jaar4>639</jaar4>
      <jaar5>1865</jaar5>
      <jaar6>937</jaar6>
      <jaar7>720</jaar7>
      <jaar8>827</jaar8>
      <jaar9>524</jaar9>
      <jaar10>398</jaar10>
      <jaar11>763</jaar11>
      <jaar12>624</jaar12>
      <jaar13>228</jaar13>
      <jaar14>398</jaar14>
      <jaar15>245</jaar15>
      <jaar16>283</jaar16>
      <jaar17>200</jaar17>
      <jaar18>200</jaar18>
      <jaar19>200</jaar19>
      <jaar20>200</jaar20>
    </Landkosten>
    <Landkosten id="1164" parentID="1138" level="2" creatorID="0" sortOrder="3" createDate="2013-10-13T15:47:41" updateDate="2013-10-13T16:09:28" nodeName="Papoea Nieuw Guinea" urlName="papoea-nieuw-guinea" path="-1,1138,1164" isDoc="" nodeType="1141" creatorName="Ruben" writerName="Ruben" writerID="0" template="0" nodeTypeAlias="Landkosten">
      <jaar1>244</jaar1>
      <jaar2>244</jaar2>
      <jaar3>244</jaar3>
      <jaar4>244</jaar4>
      <jaar5>244</jaar5>
      <jaar6>244</jaar6>
      <jaar7>244</jaar7>
      <jaar8>244</jaar8>
      <jaar9>244</jaar9>
      <jaar10>244</jaar10>
      <jaar11>244</jaar11>
      <jaar12>244</jaar12>
      <jaar13>244</jaar13>
      <jaar14>244</jaar14>
      <jaar15>244</jaar15>
      <jaar16>244</jaar16>
      <jaar17>244</jaar17>
      <jaar18>244</jaar18>
      <jaar19>244</jaar19>
      <jaar20>244</jaar20>
    </Landkosten>
    <Landkosten id="1165" parentID="1138" level="2" creatorID="0" sortOrder="4" createDate="2013-10-13T15:48:05" updateDate="2013-10-13T16:09:48" nodeName="Saoedi-Arabië" urlName="saoedi-arabië" path="-1,1138,1165" isDoc="" nodeType="1141" creatorName="Ruben" writerName="Ruben" writerID="0" template="0" nodeTypeAlias="Landkosten">
      <jaar1>176</jaar1>
      <jaar2>176</jaar2>
      <jaar3>176</jaar3>
      <jaar4>176</jaar4>
      <jaar5>176</jaar5>
      <jaar6>176</jaar6>
      <jaar7>176</jaar7>
      <jaar8>176</jaar8>
      <jaar9>176</jaar9>
      <jaar10>176</jaar10>
      <jaar11>176</jaar11>
      <jaar12>176</jaar12>
      <jaar13>176</jaar13>
      <jaar14>176</jaar14>
      <jaar15>176</jaar15>
      <jaar16>176</jaar16>
      <jaar17>176</jaar17>
      <jaar18>176</jaar18>
      <jaar19>176</jaar19>
      <jaar20>176</jaar20>
    </Landkosten>
  </Landenkostenmap>
  <Settings id="1173" parentID="-1" level="1" creatorID="0" sortOrder="5" createDate="2013-10-14T21:06:01" updateDate="2013-10-15T23:26:05" nodeName="Instellingen" urlName="instellingen" path="-1,1173" isDoc="" nodeType="1172" creatorName="Ruben" writerName="Ruben" writerID="0" template="0" nodeTypeAlias="Settings">
    <siteBaseUrl>http://patentvista-local.nl</siteBaseUrl>
    <grafiekenVulkleur>rgba(12,90,166,0.7)</grafiekenVulkleur>
    <grafiekenLijnkleur>rgba(220,220,220,1)</grafiekenLijnkleur>
    <currencyUrl>http://www.ecb.europa.eu/stats/eurofxref/eurofxref-daily.xml</currencyUrl>
    <euroDollarRate>1.3493</euroDollarRate>
  </Settings>
</root>