* {
    margin: 0;
    padding: 0;
}

html {
    overflow-y: scroll;
}

body {
    font-family: Arial, sans-serif;
    font-size: 12px;
    padding-bottom: 100px;
    overflow: auto;
}

@font-face {
    font-family: letterGothic;
    src: url('/static/font/LetterGothicStd.otf');
}


#top {
    width: 100%;
    margin: 0 auto;
    border-bottom: 1px solid #d7d7d7;
}

#header, #contentwrapper {
    width: 1000px;
    margin: 0 auto;
}

#header {
    background-image: url('/static/img/topbg-top.jpg');
    background-position: bottom right;
    background-repeat: no-repeat;
}

#header a img {
    border: 0;
}

#contentwrapper {
    background-image: url('/static/img/topbg-bottom.jpg');
    background-position: top right;
    background-repeat: no-repeat;
}

#header img {
    padding: 44px 0 44px 0;    
}

#languagebar {
    padding: 20px 0 20px 0;
}


#languagebar ul li {
    display: inline;
    list-style-type: none;
    padding-right: 10px;
}

#languagebar ul li a {
    text-decoration: none;
}

#articlemenu {
    float: left;
    width: 200px;
    border-top: 8px #cccccc solid;
    margin-top: 2px;
    padding-top: 36px;
}

#articlemenu b {
    color: #444;
}

ul.navmenu {
    margin: 5px 0;
}

ul.navmenu li {
    list-style-type: none;
    padding-bottom: 5px;
}

ul.navmenu li ul li {
    list-style-type: none;
    padding-bottom: 5px;
}

#maintext {
    float: left;
    width: 660px;
    padding: 0 25px 0 40px;
    background-image: url('/static/img/orangebar.jpg');
    background-position: bottom right;
    background-repeat: no-repeat;
    padding-bottom: 100px;
}

#maintext h1 {
    font-family: letterGothic;
    font-weight: normal;
    margin-bottom: 15px;
}

p {
    margin: 0 0 15px 0;
    padding: 0;
    line-height: 20px;
}


#maintext form input, #maintext form textarea {
    padding: 4px;
    margin: 2px;
}

#maintext table.formtable td {
    vertical-align: top;
    padding: 3px;
}

#maintext #textwrapper {
    overflow: auto;
}

#maintext #textwrapper .textcolumn {
    float: left;
    width: 300px;
    margin-right: 30px;
}

#paging {
    padding-top: 15px;
    padding-right: 40px;
    text-align: right;
    font-size: 12px;
    font-weight: bold;
}

#paging ul {
    list-style-type: none;
    display: inline;  
}

#paging ul li {
    display: inline;
    padding-left: 8px;
}

a {
    color: #00AB6F;
}

a:visited {
    color: #00AB6F;
}

.field-validation-error {
    color: #f15723;
}

canvas {
    margin: 10px 0 20px 0;
}

#currency-buttons {
    width: 582px;
    text-align: right;
    padding: 20px 18px 70px 0;
    font-size: 11px;
}

#currency-buttons div {
    float: right;
    margin-left: 30px;
}

#graph-explanation {
    width: 582px;
    text-align: center; 
}

/*
  Hide radio button (the round disc)
  we will use just the label to create pushbutton effect
*/
input[type=radio] {
    display:none; 
    margin:10px;
}
 
/*
  Change the look'n'feel of labels (which are adjacent to radiobuttons).
  Add some margin, padding to label
*/
input[type=radio] + label {
    display:inline-block;
    margin:-2px;
    padding: 4px 12px;
    background-color: #f1f1f1;
    border-color: #ddd;
}
/*
 Change background color for label next to checked radio button
 to make it look like highlighted button
*/
input[type=radio]:checked + label { 
   background-image: none;
   background-color:#d0d0d0;
}

.datatable {
    width: 300px;
    margin-bottom: 15px;
    margin-top: 15px;
    float: left;
}

.datatable td {
    padding: 8px;
    background-color: #f4f4f4;
}


.datatable th {
    padding: 8px;
    background-color: #d1d1d1;
}

.countrytable {
    margin-bottom: 25px;   
}

.countrytable tr td {
    padding: 5px;
    width: 80px;
    background-color: #f5f5f5;
}