@using PatentVista.Business
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Main.cshtml";
}

<h1>@Model.Content.GetPropertyValue("paginatitel")</h1>
<div id="textwrapper">
	<div class="textcolumn">@Model.Content.GetPropertyValue("tekstLinks").ToString().Adsensed()</div>
	<div class="textcolumn">@Model.Content.GetPropertyValue("tekstRechts")</div>
</div>
@section title
{
    @Model.Content.GetProperty("browserTitel").Value
}