@using PatentVista.Controllers
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Main.cshtml";
}

<h1>@Umbraco.Field("paginatitel")</h1>

<p>@Umbraco.Field("korteIntro")</p>


@Html.Action("Index", "CountryListingSurface", new {Area= "CLC"})

@section title
{
    @Umbraco.Field("paginatitel")
}
