


/* EDITOR PROPERTIES - PLEASE DON'T DELETE THIS LINE TO AVOID DUPLICATE PROPERTIES */
h2 {
font-size: 15px;  padding-bottom: 10px;  font-family: verdana; font-weight: normal; color:  #C50F0F; 
}

h3 {
font-size: 11px;  padding-bottom: 10px;  font-family: verdana; font-weight: normal; color:  #4A6DA2; 
}

