


/* EDITOR PROPERTIES - PLEASE DON'T DELETE THIS LINE TO AVOID DUPLICATE PROPERTIES */
h2 {
font-size: 15px;  padding-bottom: 10px;  font-family: arial; font-weight: bold; color:  #CD3D0B; 
}

h3 {
font-size: 12px;  padding-bottom: 10px;  font-family: arial; font-weight: bold; color:  #3A6AB2; 
}

